# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Builds
dist/
build/
out/
.next/
.remix/

# Testing
coverage/
*.lcov

# Environment Variables & Secrets
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

